
/*intento de hacer a mano el archivo de css despues de entender
que, con libreria alternativa bootstrap, vienen muchos estilos preprogramados
a los cuales hay que ir modificando para poder implementar ciertos estilos propios
(aprendido al intentar cambiar color de fondo para cambio de tema claro/oscuro)*/
* {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

body {
    background-color: lightgreen;
    color: black;
}

button#menu {display: none;}

h1 {
    width: 70%;
    margin: 0%;
    float: left;
    text-align: center;
    text-decoration: underline 5px black;
    text-shadow: 1px 1px 3px rgba(255,0,0,0.5);  /*obtenido de https://htmlcheatsheet.com/css/*/
}

button {
    width: 15%;
    height: 42px;
    float: left;
    padding: 0%;    
}

nav {
    width: 100%;
    clear: both;
    background-color: rgba(139, 0, 0, 0.5) ;
    
}

ul#links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

ul#links li {
    float: left;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    background-color: lightgreen;
}

a {
    color: black;
    text-decoration: none;
}

div#imagen {
    width: 20%;
    float: left;
}

div#linea1 {
    width: 80%;
    float: left;
}

div#linea2 {
    width: 100%;
    clear: both;
}

h2 {
    background-color: rgba(139, 0, 0, 0.5);
    text-align: center;
    text-decoration: underline 3px black;
    text-shadow: 1px 1px 3px rgba(251, 255, 0, 0.5); /*obtenido de https://htmlcheatsheet.com/css/*/
}

p {
    margin: 10px 0px;
    text-align: center;
}

div#respuesta {
    display: none;
}

@media only screen and (max-width: 400px) {

    button#menu {
        display: block;
        width: 10%;
        float: left;
        position: fixed;
    }
    
    h1 {
        width: 70%;
        margin-left: 32px;
        float: left;
    }

    button {
        width: 10%;
        height: 42px;
        float: left;
        padding: 0; 
    }

    nav#navlinks {
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 50px 0;
        position: fixed;
    }

    nav ul#links {display: block;}

    nav ul#links li {
        display: block;
        float: block;
    }

    div#imagen {
        width: 100%;
        height: auto;
        float: left;
    }

    main {clear: both;}

    div#linea1 {
        width: 100%;
    }

}