

* {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
body {
    background-color: lightblue;
}
h1 {
    background-color: lightgray;
    padding: 30px 5px 30px 5px;
    border: 5px solid black;
    font-weight: bold;
    font-size: 50px;
    color: blue;
    text-align: center;
   
}
ul {
    background-color: lightseagreen;
    padding: 5px;
    border: 5px solid black;
    width: 60%;
    float: left;
    font-size: 27px;
}
img {
    
    padding: 5px;
    border: 5px solid black;
    width: 37%;
    float: left;
}