* {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    text-align: center;
}

body {
    background-color: lightgreen;
    color: black
}

#menu {
    display: none;
    float: left;
}

h1 {
    width: 80%;
    text-decoration: underline;
    float: left;
}

button {
    display: block;
    width: 10%;
    height: 46px;
    float: left;
}

nav {
    width: 100%;
    clear: both;
    background-color: rgba(139, 0, 0, 0.5) ;
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    background-color: lightgreen;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 30%;
    float: left;
}

div#texto1 {
    width: 70%;
    float: left;
}

div#texto2 {
    clear: both;
}

h2 {
    text-decoration: underline;
    background-color: rgba(139, 0, 0, 0.5)
}

@media only screen and (max-width: 400px) {

    img {
        width: 100%;
        float: left;
    }

    div#texto1 {
        width: 100%;
        float: left;
    }

    h1 {
        width: 70%;
        float: left;
    }

    #menu {
        display: block;
        width: 10%;
        float: left;
        position: fixed;
    }

    #links {
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 50px 0;
        position: fixed;           
    }

    nav ul {display: block;}

    nav ul li {
        display: block;
        float: block;
    }

}