
* {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

div {
    text-align: center;
}

h1 {
    text-decoration: underline 5px solid black;
}

h3 {
    text-decoration: underline 5px solid black;
}

div.col-sm-9 {
    display: flex;
    justify-content: space-around;
}
div.col-sm-12 {
    border: 3px dashed black;
}

item {
    text-decoration: underline 5px solid black;
}

div#respuesta {
    display: none;
}